body {
    padding-top: 95px;
    color: #020202;
    background-color: #f0e7d8;
    overflow-x: hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

#AdminSidebar {
    background-color: #2b303a;
}

#AdminSidebar .nav-link{
    color: white;
    font-size: 1.2em;
}

    #AdminSidebar hr{
        margin: 5px;
    }

    #AdminSidebar .nav-item {
        border-top-right-radius: 10px;
        margin-bottom: 4px;
    }

        #AdminSidebar .nav-item:hover {
            background-color: #22262d;
            transition: background-color .3s;
            border-bottom: 4px solid #a31631;
            margin-bottom: 0px;
        }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.sticky-top {
    min-height: 100vh;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.cart-icon {
    color: white;
}

    .cart-icon:hover, .cart-icon:active, .cart-icon:link {
        color: #a31631;
    }

.navbar {
    background-color: #2b303a;
}

.navbar-collapse {
    font-size: 1.7em;
}

.dropdown-toggle::after {
    display: none !important;
}

.navbar-nav:not(.navbar-right) a {
    color: white !important;
    transition: .2s;
    border-bottom: 4px solid #2b303a;
}

    .navbar-nav:not(.navbar-right) a:hover,
    .navbar-nav:not(.navbar-right) a.active {
        border-bottom: 4px solid #a31631;
    }

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 80%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal.lg {
        margin-right: 4px;
    }

        .modal.lg .modal-content {
            width: 800px;
        }

        .modal.lg .modal-dialog {
            max-width: 100%;
        }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    width:600px;
}

.modal-header {
    background-color: #a31631;
}

.modal-body {
    overflow: hidden;
}

.slash {
    font-size: 2.1rem;
    color: #ced4da;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    line-height: 33px;
}

#loginErrorMsg {
    padding: 10px 0;
    text-align:center;

}

.btn-dark-red {
    background-color: #650d1b;
    border-color: #500A15;
}

    .btn-dark-red:hover, .btn-dark-red:active, .btn-dark-red:focus, .btn-dark-red:link {
        background-color: #500A15 !important;
        border-color: #400810 !important;
    }

.back-btn {
    color: #aaa;
    margin-bottom: 5px;
}

.back-btn:hover {
    color: #888;
}

.brand-logo {
    height: 80px;
    width: 80px;
    display:inline;
    padding: 5px;
}

.brand-name {
    height: 40px;
    display: inline;
    margin-left: 20px;
    margin-right: 40px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
}

.card img{
    width: 100%;
}

.card-container {
    padding: 8px 16px;
    text-align:center;
}

#Sidebar{
    background-color: #ddd;
    padding-top: 50px;
}

#SearchBar {
    background-color: #650d1b;
}

#SortType{
    font-size: small;
}


.line-height-0 {
    line-height: 0 !important;
}

.margin-top-10{
    margin-top: 10px;
}

.white-text {
    color: white !important;
}

.fa-layers-counter {
    padding: 0.09em;
    right: -10px;
    top: -10px;
    font-size: 2.0em;
    background-color: #650d1b;
}

footer {
    background: #650d1b !important;
    padding: 20px 0;
}
    footer a {
        color: white;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    footer ul.social li {
        padding: 10px 0;
    }

        footer ul.social li {
            margin-right: 10px;
            font-size: 40px;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

        footer ul.social li:hover {
            transform: scale(1.3);
        }

        footer ul.social {
            color: white;
        }

    footer ul.quick-links li {
        padding: 10px 10px;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

        footer ul.quick-links li:hover {
            padding: 3px 0;
            margin-left: 5px;
            font-weight: 700;
        }

        footer ul.quick-links li a i {
            margin-right: 5px;
        }

        footer ul.quick-links li:hover a i {
            font-weight: 700;
        }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
