body {
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
}

.card img{
    width: 100%;
}

.card-container {
    padding: 8px 16px;
    text-align:center;
}

.line-hieght-9{
    line-height: .9;
}

.margin-top-10{
    margin-top: 10px;
}

.light-gray-text {
    color: #9d9d9d;
}

footer {
    background: #111 !important;
    padding: 20px 0;
}
    footer a {
        color: #9d9d9d;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    footer ul.social li {
        padding: 10px 0;
    }

        footer ul.social li a i {
            margin-right: 10px;
            font-size: 40px;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

        footer ul.social li:hover a i {
            transform: scale(1.3);
        }

        footer ul.social li a,
        footer ul.quick-links li a {
            color: #9d9d9d;
        }

            footer ul.social li a:hover {
                color: #ffffff;
            }

    footer ul.quick-links li {
        padding: 3px 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

        footer ul.quick-links li:hover {
            padding: 3px 0;
            margin-left: 5px;
            font-weight: 700;
        }

        footer ul.quick-links li a i {
            margin-right: 5px;
        }

        footer ul.quick-links li:hover a i {
            font-weight: 700;
        }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
