<div class="modal fade" id="PhoneModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="Phone" class="form-control" maxlength="20" placeholder="Phone Number">
                                <div class="input-group-append">
                                    <select id="PhoneCat" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3 text-center">
                        <input id="SavePhone" type="submit" value="Save" class="btn btn-success btn-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>