<div class="modal fade" id="PhoneModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="Phone" class="form-control" maxlength="20" placeholder="Phone Number">
                                <div class="input-group-append">
                                    <select id="PhoneCat" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3 text-center">
                        <input id="SavePhone" type="submit" value="Save" class="btn btn-success btn-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function EditPhone(button) {
        var phone = $(button).parents(".phone");
        $("#PhoneModal").data("id", phone.data("id"));
        $("#Phone").val(phone.find(".phone-number").text());
        $("#PhoneCat").val(phone.find(".phone-cat").text());
        $("#PhoneModal").modal("show");
    }

    function DeletePhone(button) {
        var phone = $(button).parents(".phone");
        $.confirm({
            title: 'Delete Phone',
            content: 'Are you sure you want to delete this phone?',
            type: 'red',
            buttons: {
                yes: function () {
                    $.ajax({
                        type: "POST",
                        url: "Model/DeletePhone",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: JSON.stringify({
                            ID: phone.data("id")
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function () {
                            phone.fadeOut(function () {
                                phone.remove();
                            });
                        },
                        failure: function (response) {
                            location.href = "\Error"
                        }
                    });
                },
                no: function () {}
            }
        });
    }

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: "Model/GetPhoneCategories",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (response) {
                response = JSON.parse(response);
                $.each(response, function (key, value) {
                    $("#PhoneCat").append("<option val=" + key + ">" + value + "</option>")
                });
            }
        });

        $('#PhoneModal').on('hidden.bs.modal', function () {
            $("#Phone").val("");
        })

        $("#Phone").on('input', function () {
            var regex = /^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/;
            if ($("#Phone").val().match(regex)) {
                $("#Phone").addClass("valid")
                $("#Phone").css("border-color", "green");
            } else {
                $("#Phone").removeClass("valid")
                $("#Phone").removeAttr("style");
            }
        });

        $("#PhoneCreate").click(function () {
            $("#PhoneModal").data("id", -1);
            $("#PhoneModal").modal("show");
        });

        $("#SavePhone").click(function () {
            if ($("#Phone").hasClass("valid")) {
                $.ajax({
                    type: "POST",
                    url: "Model/SavePhone",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: JSON.stringify({
                        ID: $("#PhoneModal").data("id"),
                        Number: $("#Phone").val(),
                        Category: $("#PhoneCat").val(),
                        UserID: $("#UserID").text()
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var phone = $(".phone[data-id='" + response[0] + "']");

                        if (phone.length > 0) {
                            phone.find(".phone-number").text($("#Phone").val());
                            phone.find(".phone-cat").text($("#PhoneCat").val());
                        } else {
                            var card = "";

                            card += '<div class="card phone d-inline-block" data-id="' + response + '" style="width:200px">'
                            card += '<div class="card-header">'
                            card += '<button type="button" onclick="EditPhone(this)" class="btn btn-sm btn-success mr-1"><i class="fas fa-edit"></i></button>'
                            card += '<button type="button" onclick="DeletePhone(this)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>'
                            card += '</div>'
                            card += '<div class="card-body">'
                            card += '<h5 class="card-title phone-number">' + $("#Phone").val() + '</h5>'
                            card += '<h6 class="card-subtitle mb-2 text-muted phone-cat">' + $("#PhoneCat").val() + '</h6>'
                            card += '</div>'
                            card += '</div>'

                            $("#Phones .card:last").before(card);
                        }

                        $("#PhoneModal").modal("hide");
                    },
                    failure: function (response) {
                        location.href = "\Error"
                    }
                });
            }
        });
    });
</script>
