<style>
    .star-overlay {
        position: absolute;
        width: 20px;
        height: 21px;
    }

    .rating .userName {
        line-height: 50px;
        margin-left: 10px;
        display: inline-block;
        position: absolute;
    }

    .rating {
        margin-bottom: 30px;
        width: 100%;
        padding: 8px;
    }

    .icon-div {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 100px;
        display: inline-block;
    }
</style>

<script>
    $(document).ready(function () {
        $("#RatingStars .star-overlay, #EditRatingStars .star-overlay").click(function () {
            var star = $(this).next("svg");

            if (star.attr("data-prefix") == "far") {
                star.attr("data-prefix", "fas");
                star.prevAll("svg").attr("data-prefix", "fas");
            } else {
                $(this).next().nextAll("svg").attr("data-prefix", "far");
            }
        });

        $("#SubmitRating").click(function () {
            var data = {
                ID: -1,
                BookID: $("#BookID").text(),
                Rating: $("#RatingStars svg[data-prefix='fas']").length,
                Comment: $("#Comment").val()
            }
            $.ajax({
                type: "POST",
                url: "Model/SaveRating",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    response = JSON.parse(response);
                    if (response != undefined) {
                        createRating(response);
                        $("#Comment").val("");
                    } else {
                        $("#ShowLogin").click();
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        });

        $("#SaveRating").click(function () {
            var data = {
                ID: $("#RatingModal").data("id"),
                BookID: $("#BookID").text(),
                Rating: $("#EditRatingStars svg[data-prefix='fas']").length,
                Comment: $("#EditComment").val()
            }
            $.ajax({
                type: "POST",
                url: "Model/SaveRating",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    response = JSON.parse(response);
                    if (response != undefined) {
                        var rating = $(".rating[data-id='" + response.RatingID + "']");
                        rating.data("rating", response.RatingValue);
                        rating.data("comment", response.Comment);
                        rating.find(".stars svg").each(function (i) {
                            if (i < response.RatingValue) $(this).attr("data-prefix", "fas");
                            else $(this).attr("data-prefix", "far");
                        })
                        rating.find(".comment").text(response.Comment);
                        $("#RatingModal").modal("hide");
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        });
    });

    function loadRatings() {
        $("#RatingLoadIcon").show();
        $.ajax({
            type: "POST",
            url: "Model/GetRatings",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify({ BookID: $("#BookID").text() }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                response = JSON.parse(response);
                $("#RatingLoadIcon").hide();
                response.forEach(function (rating) {
                    createRating(rating);
                });

                var image = new Image();
                $(".userIcon").each(function () {
                    image.src = $(this).attr("src");
                    $(this).removeAttr("style");
                    $(this).css(image.width > image.height ? "height" : "width", "50px");
                })
            },
            failure: function (response) {
                alert(response);
            }
        });
    }

    function editRating(button) {
        var rating = $(button).parents(".rating");
        $("#RatingModal").data("id", rating.data("id"));
        $("#EditRatingStars svg").each(function (i) {
            if (i < rating.data("rating")) $(this).attr("data-prefix", "fas");
            else $(this).attr("data-prefix", "far");
        })
        $("#EditComment").val(rating.data("comment"));
        $("#RatingModal").modal("show");
    }

    function deleteRating(button) {
        var rating = $(button).parents(".rating");
        $.confirm({
            title: 'Delete Review',
            content: 'Are you sure you want to delete this review?',
            type: 'red',
            buttons: {
                yes: function () {
                    $.ajax({
                        type: "POST",
                        url: "Model/DeleteRating",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: JSON.stringify({
                            ID: rating.data("id")
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function () {
                            rating.fadeOut(function () {
                                rating.remove();
                            });
                        },
                        failure: function (response) {
                            alert(response);
                        }
                    });
                },
                no: function () { }
            }
        });
    }

    function createRating(rating) {
        var ratingmessage = "";
        var ratingstars = "<span class='stars'>";
        var count = 5;
        for (var i = 0; i < rating.RatingValue; i++ , count--)
            ratingstars += '<i class="fas fa-star"></i>'
        for (var i = count; i > 0; i--)
            ratingstars += '<i class="far fa-star"></i>'

        ratingstars += "</span>";

        ratingmessage += '<div class="rating card"'
        ratingmessage += 'data-id="' + rating.RatingID + '"'
        ratingmessage += 'data-rating="' + rating.RatingValue + '"'
        ratingmessage += 'data-comment="' + rating.Comment + '"'
        ratingmessage += '> '
        ratingmessage += '<div>'
        ratingmessage += '<div class="icon-div">'
        ratingmessage += '<img class="userIcon" src="' + rating.NameAndImage[1] + '" />'
        ratingmessage += '</div>'
        ratingmessage += '<h5 class="userName">' + rating.NameAndImage[0] + '</h5>'

        if ($("#UserID").text() == rating.UserID || $("#UserIsAdmin").text() == "True") {
            ratingmessage += '<div class="float-right mt-1">'
            ratingmessage += '<button class="btn btn-danger btn-sm mr-2" onclick="deleteRating(this)"><i class="fas fa-trash"></i></button>'
            ratingmessage += '<button class="btn btn-success btn-sm" onclick="editRating(this)"><i class="fas fa-edit"></i></button>'
            ratingmessage += '</div>'
        }

        ratingmessage += '</div>'
        ratingmessage += '<h5>' + ratingstars + '</h5>'
        ratingmessage += '<h6 class="comment">' + rating.Comment + '</h5>'
        ratingmessage += '</div>'

        $("#RatingMessages").prepend(ratingmessage);
    }
</script>
