@page
@model JaminBooks.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    ViewData["IsLoggedIn"] = Model.CurrentUser != null;
    ViewData["Name"] = Model.CurrentUser == null ? "" : Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
    ViewData["CartCount"] = Model.CurrentUser == null ? 0 : Model.CurrentUser.GetCart().Count;

    if (Model.CurrentUser != null && Model.CurrentUser.IsAdmin)
    {
        Layout = "~/Pages/Admin/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/_Layout.cshtml";
    }
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3 mb-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="row mt-3 mb-5">
                <div class="col-3">
                    <img class="img-fluid rounded-circle" src="~/images/mlogo.png">
                </div>
                <div class="col-9">
                    <h5>Jamin' Books</h5>
                    <p>
                        Jamin' Books is a project developed by James Allison and Michael Petete for a database class at College of the Ozarks
                        in 2018, developed over the course of eight weeks as the class's final project. The e-commerce book store website was named after the acronym J.A.M which stood for "James and Michael".
                        From the acronym J.A.M the name "JAMing Books" was derived, formated as "Jamin' Books", and the brand evolved
                        to match the meaning of the acronym written as one word, "jam".
                    </p>
                </div>
            </div>
            <div class="row mt-3 mb-5">
                <div class="col-3">
                    <img class="img-fluid rounded-circle" src="~/images/michael.jpg">
                </div>
                <div class="col-9">
                    <h5>Michael Petete</h5>
                    <p>
                        Michael Petete is a computer science student at College of the Ozarks and developer on the Jamin' Books project.
                    </p>
                </div>
            </div>
            <div class="row mt-3 mb-5">
                <div class="col-3">
                    <img class="img-fluid rounded-circle" src="~/images/james.jpg">
                </div>
                <div class="col-9">
                    <h5>James Allison</h5>
                    <p>
                        James Allison is a computer science student at College of the Ozarks and team lead on the Jamin' Books development project.
                        James grew up in the Czech Republic as the son a missionary. After working two development jobs in high school for Minecraft
                        servers, James decided to pursue a degree in computer science. While attending College of the Ozarks, James worked at the campus
                        computer center as a C# developer on the internal website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Authentication")

