@page
@model BooksModel
@{
    ViewData["Title"] = "Books";
    ViewData["IsLoggedIn"] = Model.CurrentUser != null;
    ViewData["Name"] = Model.CurrentUser == null ? "" : Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
    ViewData["CartCount"] = Model.CurrentUser == null ? 0 : Model.CurrentUser.GetCart().Count;

    if (Model.CurrentUser != null && Model.CurrentUser.IsAdmin)
    {
        Layout = "~/Pages/Admin/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/_Layout.cshtml";
    }
}

<script>$("a.books").addClass("active")</script>

<style>
    .book-overlay {
        background-color: rgba(0, 0, 0, .5);
        text-align: center;
    }

    #Books {
        min-height: 30vh;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .book {
        margin: 25px;
    }

    .overlay-oldprice {
        text-decoration: line-through;
        position: absolute;
        bottom: -20px;
        left: 65px;
        color: #ccc;
        font-size: smaller;
    }

    .oldprice {
        text-decoration: line-through;
        font-size: .8em;
        margin-top: 0;
    }

    .auto-complete {
        position: absolute;
        margin-top: 38px;
        width: 83%;
        border: 1px solid #ccc;
        border-radius: 4px;
        z-index: 1000;
        padding: 10px;
        background-color: white;
    }

        .auto-complete .item .value {
            padding: 5px;
            border-bottom: 1px solid #eee;
            border-radius: 2px;
        }

        .auto-complete .item {
            transition: .2s;
        }

            .auto-complete .item.active .value,
            .auto-complete .item:hover .value {
                background-color: #ddd;
            }

    #BookView {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, .8);
        transition: background-color .4s;
    }

        #BookView.hovered {
            background-color: rgba(0, 0, 0, .4);
        }

    #BookViewBody {
        width: 75%;
        margin: auto;
        background-color: white;
        margin-top: 180px;
        position: relative;
    }

    #BookImage {
        height: 350px;
        position: absolute;
        top: -50px;
        left: -50px;
    }
</style>

<span class="d-none" id="UserID">@(Model.CurrentUser == null ? -1 : Model.CurrentUser.UserID)</span>
<span class="d-none" id="UserIsAdmin">@(Model.CurrentUser == null ? false : Model.CurrentUser.IsAdmin)</span>
<div id="SearchBar" class="row">
    <div class="col-lg-6 offset-lg-4 col-md-6 offset-md-4 col-10 offset-1">
        <div class="form-group">
            <div class="input-group mt-3">
                <input type="text" id="Search" class="form-control" placeholder="Search...">
                <div id="AutoComplete" class="auto-complete" style="display:none"></div>
                <div class="input-group-append">
                    <select id="SearchType" class="form-control">
                        <option value="1">General</option>
                        <option value="2">Title</option>
                        <option value="3">Author</option>
                        <option value="4">Publisher</option>
                        <option value="5">ISBN</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="Sidebar" class="col-lg-2 col-md-2 col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Category</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <select id="BookCat" class="form-control">
                                    <option value="-1">Category...</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div id="SearchCats" class="col-12"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Sort By</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <select id="SortType" class="form-control">
                                    <option value="1">Popularity</option>
                                    <option value="2">Relevance</option>
                                    <option value="7">Sales and Deals</option>
                                    <option value="3">Price: Low to High</option>
                                    <option value="4">Price: High to Low</option>
                                    <option value="5">New to Old</option>
                                    <option value="6">Old to New</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-12">
        <div class="row">
            <div id="Books" class="col-12">

            </div>
            <div class="col-12">
                <div id="LoadIcon" class="row text-center mt-5 mb-5">
                    <div class="col-12">
                        <i class="fas fa-circle-notch fa-spin fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="BookView" style="display:none">
    <div id="BookViewBody" class="pb-5">
        <img id="BookImage" src="" />
        <div class="container" style="overflow:auto;">
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-12">
                    <div style="margin-top: 320px">
                        <h5 class="w-75 ml-4 text-center"><span id="BookQuantity">0</span></h5>
                        <button id="AddToCart" class="btn btn-dark-red text-white btn-lg ml-4 mt-2 mb-2 w-75">Add to Cart</button>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <span id="BookID" class="d-none">-1</span>
                    <div class="float-right">
                        <button id="AddToBookshelf" class="btn btn-warning"><i class="fas fa-star"></i></button>
                    </div>
                    <h2 id="BookTitle" style="margin-right:80px">Title</h2>
                    <h4 id="BookAuthor">Author</h4>
                    <h3>$<span id="BookPrice">0.00</span> <span class="ml-3 oldprice text-muted">$<span id="BookOldPrice">0.00</span></span></h3>
                    <div id="Rating">
                        <span>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                    <div id="Categories" class="mt-2"></div>
                    <div id="Description" class="mt-3"></div>
                    <hr />
                    <div id="Details" class="mt-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">ISBN 10:</label>
                                    <div class="col-8">
                                        <input id="ISBN10" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">ISBN 13:</label>
                                    <div class="col-8">
                                        <input id="ISBN13" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">Copyright:</label>
                                    <div class="col-8">
                                        <input id="CopyrightDate" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">Publication Date:</label>
                                    <div class="col-8">
                                        <input id="PublicationDate" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">Publisher:</label>
                                    <div class="col-8">
                                        <input id="Publisher" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="Ratings" class="mt-3">
                        <h3>Reviews</h3>
                        @if (Model.CurrentUser != null && Model.CurrentUser.IsConfirmed)
                        {
                            <div class="col-12">
                                <span id="RatingStars">
                                    <span class="star-overlay"></span>
                                    <i class="fas fa-star"></i>
                                    <span class="star-overlay"></span>
                                    <i class="far fa-star"></i>
                                    <span class="star-overlay"></span>
                                    <i class="far fa-star"></i>
                                    <span class="star-overlay"></span>
                                    <i class="far fa-star"></i>
                                    <span class="star-overlay"></span>
                                    <i class="far fa-star"></i>
                                </span>
                                <textarea id="Comment" class="w-100 mt-2 mb-2 form-control" placeholder="What did you think?..."></textarea>
                                <button id="SubmitRating" class="btn btn-dark-red text-white">Submit Review</button>
                            </div>
                        }
                        else if (Model.CurrentUser != null && !Model.CurrentUser.IsConfirmed)
                        {
                            <h5 class="text-danger font-weight-bold">Verify email address to write reviews.</h5>
                        }
                        <div id="RatingMessages" class="mt-3"></div>
                        <div id="RatingLoadIcon" class="row text-center mt-1 mb-1">
                            <div class="col-12">
                                <i class="fas fa-circle-notch fa-spin fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RatingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <span id="EditRatingStars">
                                <span class="star-overlay"></span>
                                <i class="fas fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <textarea id="EditComment" class="w-100 mt-2 mb-2 form-control" placeholder="What did you think?..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3 text-center">
                        <input id="SaveRating" type="submit" value="Save" class="btn btn-success btn-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var index = 0;
    var loading = false;
    var loaded = false;
    var callID = 0;
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "Model/GetBookCategories",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (response) {
                response = JSON.parse(response);
                $.each(response, function (key, value) {
                    $("#BookCat").append("<option value=" + key + ">" + value + "</option>")
                });
            }
        });

        $("#BookView").click(function (e) {
            if (e.target === this) {
                closeBookView();
            }
        });

        $("#BookCat").change(function () {
            var id = $("#BookCat").val();
            var name = $("#BookCat option:selected").text();

            if (id == -1) return;
            $("#SearchCats").append('<span class="badge badge-primary m-1" data-id='
                + id + '><i class="fas fa-times mr-1" onclick="removeCat(this)"></i>' + name + '</span>');

            $("#BookCat option:selected").hide();
            $("#BookCat").val(-1);
        });

        $("#AddToBookshelf").click(function () {
            $.confirm({
                title: 'Place on Bookshelf',
                icon: 'fas fa-star',
                content: 'Would you like to place this book on your bookshelf?',
                type: 'orange',
                buttons: {
                    yes: {
                        action: function () {
                            $.ajax({
                                type: "POST",
                                url: "/Model/AddBookToBookShelf",
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("XSRF-TOKEN",
                                        $('input:hidden[name="__RequestVerificationToken"]').val());
                                },
                                data: JSON.stringify({
                                    ID: $("#BookID").text()
                                }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function () {
                                    $("#AddToBookshelf").fadeOut();
                                },
                                failure: function (response) {
                                    location.href = "\Error"
                                }
                            });
                        }
                    },
                    no: function () { }
                }
            });
            event.stopPropagation();
            return false;
        });

        $("#AddToCart").click(function () {
            $.ajax({
                type: "POST",
                url: "Model/AddToCart",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify({BookID: $("#BookID").text()}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var code = JSON.parse(response);
                    if (code == 1) {
                        $.confirm({
                            title: $("#BookTitle").text() + ' added to cart.',
                            content: 'Would you like to view your cart?',
                            type: 'green',
                            buttons: {
                                yes: {
                                    text: 'View Cart',
                                    btnClass: 'btn-green',
                                    action: function () {
                                        location.href = "/Cart";
                                    }
                                },
                                no: {
                                    text: 'No Thanks'
                                }
                            }
                        });
                    } else if (code == 2)  {
                        $.confirm({
                            title: $("#BookTitle").text() + ' In Cart.',
                            content: $("#BookTitle").text() + ' is already in your cart. Would you like to view your cart?',
                            type: 'blue',
                            buttons: {
                                yes: {
                                    text: 'View Cart',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        location.href = "/Cart";
                                    }
                                },
                                no: {
                                    text: 'No Thanks'
                                }
                            }
                        });
                    } else {
                        $("body").append("<span id='LoginRedirectLocation'>\Book?id=" + $("#BookID").text() + "</span>")
                        $("#ShowLogin").click();
                    }
                },
                failure: function (response) {
                    location.href = "\Error"
                }
            });
        });

        $("#BookCat, #SearchType, #SortType").change(function () {
            loadBooks(true);
        });

        $("#Search").on('input', function () {
            loadBooks(true);
        });

        $("#Search").focusout(function (e) {
            if ($(e.target).hasClass("item")) return;
            $("#AutoComplete").hide();
        });

        $("#Search").focusin(function () {
            if ($(".auto-complete .item").length > 0)
                $("#AutoComplete").show();
        });

        $("#Search").keyup(function (event) {
            if (event.which == 40) {
                var next = $(".auto-complete .item.active");
                next.removeClass("active");
                if (next.length > 0) {
                    next.next(".item").addClass("active");
                } else {
                    $(".auto-complete .item").first().addClass("active");
                }
            } else if (event.which == 38) {
                var next = $(".auto-complete .item.active");
                next.removeClass("active");
                if (next.length > 0) {
                    next.prev(".item").addClass("active");
                }
            } else if (event.which == 13) {
                var next = $(".auto-complete .item.active");
                if (next.length > 0) {
                    $("#Search").val(next.text());
                    loadBooks(true);
                }
            }
        });

        $(window).scroll(function () {
            if ($("#Books .book").last().isInViewport()) {
                loadBooks(false);
            }
        });
        var prefix = ("@Model.Title" != "" ? "$" : "");
        $("#Search").val(prefix + "@Model.Title");
        if ($("#Search").val() != "")
            $("#Search").data("auto-open", true);
        loadBooks();
    });

    function closeBookView() {
        $("#BookView").fadeOut(function () {
            $("body").removeAttr("style");
            $("nav").removeAttr("style");
        });
        $("#BookView").unbind("hover");
        $("#BookViewBody").unbind("hover");
        $("#BookView").removeClass("hovered");
    }

    function removeCat(button) {
        var cat = $(button).parent();
        cat.remove();
        $("#BookCat option[value='" + cat.data("id") + "']").show();
        loadBooks(true);
    }

    function loadBooks(reset) {

        if (reset) {
            index = 0;
            loaded = false;
        }

        if (loading || loaded) return;
        if (!reset) {
            loading = true;
            $("#LoadIcon").show();
        }
        var count = 10;

        var cats = [];
        $("#SearchCats .badge").each(function () { cats.push($(this).data("id")) });

        var data = {
            Index: index,
            Count: count,
            CallID: ++callID,
            Search: $("#Search").val(),
            SearchType: $("#SearchType").val(),
            Cats: cats,
            SortType: $("#SortType").val()
        }

        $.ajax({
            type: "POST",
            url: "Model/LoadBooks",
            async: true,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                response = JSON.parse(response);
                if (response[0] < callID) return;

                if (reset) $("#Books").empty();
                if (data.Search != "" && response[4].length > 0) {
                    $("#AutoComplete").show();
                    $("#AutoComplete").empty();
                    var regex = new RegExp(data.Search, "gi");
                    response[4].forEach(function (match) {
                        if ($("#Search").val() == match) return;
                        $("#AutoComplete").append("<div class='row item'><div class='col-12'><div class='value'>"
                            + match.replace(regex, "<b>$&</b>") + "</div></div></div>");
                    });
                    $("#AutoComplete .item").click(function (event) {
                        $("#Search").val($(this).text());
                        loadBooks(true);
                    });
                    if ($("#AutoComplete .item").length == 0)
                        $("#AutoComplete").hide();
                } else {
                    $("#AutoComplete").hide();
                }

                response[2].forEach(function (book) {

                    var bookcard = "";

                    var bookrating = "</span>";
                    var count = 5;
                    for (var i = 0; i < book.Rating; i++, count--)
                        bookrating += '<i class="fas fa-star"></i>'
                    for (var i = count; i > 0; i--)
                        bookrating += '<i class="far fa-star"></i>'

                    bookcard += '<div class="card text-white book" onclick="showBookView(this)" style="width: 200px" '
                    bookcard += 'data-id="' + book.BookID + '"'
                    bookcard += 'data-title=\'' + book.Title.replace("'", "&#39;").replace('"', "&quot;") + '\''
                    bookcard += 'data-quantity="' + book.Quantity + '"'
                    bookcard += 'data-price="' + book.Price.toFixed(2) + '"'
                    bookcard += 'data-description=\'' + book.Description.replace("'", "&#39;").replace('"', "&quot;") + '\''
                    bookcard += 'data-authors=\'' + JSON.stringify(book.Authors) + '\''
                    bookcard += 'data-categories=\'' + JSON.stringify(book.Categories).replace("'","&#39;") + '\''
                    bookcard += 'data-rating="' + book.Rating + '"'
                    bookcard += 'data-isbn10="' + book.ISBN10 + '"'
                    bookcard += 'data-isbn13="' + book.ISBN13 + '"'
                    bookcard += 'data-copyright="' + book.CopyrightDate + '"'
                    bookcard += 'data-publication="' + book.PublicationDate + '"'
                    bookcard += 'data-publisher="' + book.Publisher.PublisherName + '"'
                    bookcard += 'data-discount="' + book.PercentDiscount + '"'
                    bookcard += 'data-oldprice="' + book._Price.toFixed(2) + '"'
                    bookcard += 'data-on-bookshelf="' + (response[3].indexOf(book.BookID) > -1) + '"'
                    bookcard += '>'
                    bookcard += '<img class="card-img" src="' + book.LoadImage + '">'
                    bookcard += '<div class="card-img-overlay book-overlay" style="display:none">'
                    if (book.Quantity == 0) bookcard += '<h5 class="card-title"><span class="badge badge-danger">Out Of Stock</span></h5>'
                    if (book.PercentDiscount > 0) bookcard += '<h5 class="card-title"><span class="badge badge-success">On Sale</span></h5>'
                    bookcard += '<h5 class="card-title">' + book.Title + '</h5>'

                    if (book.PercentDiscount == 0) {
                        bookcard += '<h5 class="card-text mt-4">$' + book.Price.toFixed(2);  + '</h5>'
                    } else {
                        bookcard += '<h5 class="card-text mt-4 position-relative">$' + book.Price.toFixed(2);
                        bookcard += '<span class="overlay-oldprice">$' + book._Price.toFixed(2);  + '</span>';
                        bookcard += '</h5>'
                    }

                    bookcard += '<h5 class="card-text mt-5">' + bookrating + '</h5>'
                    bookcard += '</div>'
                    bookcard += '</div>'

                    $("#Books").append(bookcard);
                });

                $(".book").hover(function () {
                    $(this).find(".book-overlay").fadeIn();
                },
                function () {
                    $(this).find(".book-overlay").fadeOut();
                })

                if (response[1] < count)
                    loaded = true;
                index += response[1];
                loading = false;
                $("#LoadIcon").hide();

                if ($("#Search").data("auto-open")) {
                    $(".book").first().click();
                    $("#Search").data("auto-open", false);
                }
            },
            failure: function (response) {
                location.href = "\Error"
            }
        });
    }

    function showBookView(book) {
        book = $(book);
        $("#BookImage").attr("src", book.find("img").attr("src"))
        $("#BookID").text(book.data("id"));
        $("#BookTitle").text(book.data("title"));

        if ($("#UserID").text() == "-1" || book.data("on-bookshelf"))
            $("#AddToBookshelf").hide();
        else $("#AddToBookshelf").show();

        if (book.data("discount") > 0) {
            $("#BookPrice").text(book.data("price"));
            $("#BookPrice").parent().addClass("text-success");
            $("#BookOldPrice").parent().show();
            $("#BookOldPrice").text(book.data("oldprice"));
        } else {
            $("#BookPrice").text(book.data("price"));
            $("#BookPrice").parent().removeClass("text-success");
            $("#BookOldPrice").parent().hide();
        }

        $("#BookPrice").text(book.data("price"));


        $("#Description").text(book.data("description"));

        $("#ISBN10").val(book.data("isbn10"));
        $("#ISBN13").val(book.data("isbn13"));

        var count = book.data("quantity");

        $("#BookQuantity").text(count == 0 ? "Out Of Stock" : (count <= 5 ? "Only " : "") + count + " In Stock");
        if (count <= 5) $("#BookQuantity").addClass("text-danger");
        else $("#BookQuantity").removeClass("text-danger");

        if (count == 0) $("#AddToCart").attr("disabled", "disabled");
        else $("#AddToCart").removeAttr("disabled")

        var cd = new Date(book.data("copyright"));
        var pd = new Date(book.data("publication"));

        $("#CopyrightDate").val((cd.getMonth() + 1) + "/" + cd.getDate() + "/" + cd.getFullYear());
        $("#PublicationDate").val((pd.getMonth() + 1) + "/" + pd.getDate() + "/" + pd.getFullYear());
        $("#Publisher").val(book.data("publisher"));
        $("#RatingMessages").empty();

        $("#Categories").empty();
        var cats = book.data("categories");
        cats.forEach(function (cat) {
            $("#Categories").append('<span class="badge badge-primary m-1">' + cat.CategoryName + '</span>');
        });

        $("#Comment").val("");
        $("#RatingStars svg").attr("data-prefix", "far");

        var authors = book.data("authors");
        var authorstring = "";
        authors.forEach(function (author) { authorstring += author.FirstName + " " + author.LastName + ", " })
        $("#BookAuthor").text(authorstring.slice(0, -2));

        var rating = book.data("rating");
        $("#Rating svg").each(function (i) {
            if (i < rating) $(this).attr("data-prefix", "fas");
            else $(this).attr("data-prefix", "far");
        })

        $("body").css("overflow", "hidden");
        $("body").css("margin-right", getScrollBarWidth());
        $("nav").css("margin-right", getScrollBarWidth());

        $("#BookView").fadeIn(function () {
            $("#BookViewBody").hover(function (event) {
                $("#BookView").removeClass("hovered");
            }, function () {
                $("#BookView").addClass("hovered");
            });

            $("#BookView").hover(function (event) {
                $("#BookView").addClass("hovered");
            }, function () {
                $("#BookView").removeClass("hovered");
            });
            $("#BookView").removeClass("hovered");
        });

        loadRatings();
    }

    function getScrollBarWidth() {
        var $outer = $('<div>').css({ visibility: 'hidden', width: 100, overflow: 'scroll' }).appendTo('body'),
            widthWithScroll = $('<div>').css({ width: '100%' }).appendTo($outer).outerWidth();
        $outer.remove();
        return 100 - widthWithScroll;
    };

    $.fn.isInViewport = function () {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight();
        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();
        return elementBottom > viewportTop && elementTop < viewportBottom;
    };

</script>

@await Html.PartialAsync("_BackToTop")
@await Html.PartialAsync("_Ratings")
@await Html.PartialAsync("_Authentication")
