@page
@model BooksModel
@{
    ViewData["Title"] = "Books";
    ViewData["IsLoggedIn"] = Model.CurrentUser != null;
    ViewData["Name"] = Model.CurrentUser == null ? "" : Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
}

<script>$("a.books").addClass("active")</script>

<style>
    .book-overlay {
        background-color: rgba(0, 0, 0, .5);
        text-align: center;
    }
    #Books {
        min-height: 30vh;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .book {
        margin: 25px;
    }
    #BookView {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, .8);
        transition: background-color .4s;
    }

        #BookView.hovered {
            background-color: rgba(0, 0, 0, .4);
        }

        #BookViewBody {
            width: 75%;
            margin: auto;
            background-color: white;
            margin-top: 180px;
            position: relative;
        }

    #BookImage {
        height: 350px;
        position: absolute;
        top: -50px;
        left: -50px;
    }

    .star-overlay {
        position: absolute;
        width: 20px;
        height: 21px;
    }

    .rating .userName {
        line-height: 50px;
        margin-left: 10px;
        display: inline-block;
        position: absolute;
    }

    .rating {
        margin-bottom: 30px;
        width: 100%;
        padding: 8px;
    }

    .icon-div {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 100px;
        display: inline-block;
    }
</style>

<span class="d-none" id="UserID">@(Model.CurrentUser == null ? -1 : Model.CurrentUser.UserID)</span>
<span class="d-none" id="UserIsAdmin">@(Model.CurrentUser == null ? false : Model.CurrentUser.IsAdmin)</span>
<div id="SearchBar" class="row">
    <div class="col-6 offset-4">
        <div class="form-group">
            <div class="input-group mt-3">
                <input type="text" id="Search" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <select id="SearchType" class="form-control">
                        <option value="1">General</option>
                        <option value="2">Title</option>
                        <option value="3">Author</option>
                        <option value="4">Publisher</option>
                        <option value="5">ISBN</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="Sidebar" class="col-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Category</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <select id="BookCat" class="form-control">
                                    <option value="-1">Category...</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div id="SearchCats" class="col-12"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Sort By</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <select id="SortType" class="form-control">
                                    <option value="1">Relavence</option>
                                    <option value="2">Popularity</option>
                                    <option value="3">Price: Low to High</option>
                                    <option value="4">Price: High to Low</option>
                                    <option value="5">New to Old</option>
                                    <option value="6">Old to New</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <div id="Books" class="col-12">

            </div>
            <div class="col-12">
                <div id="LoadIcon" class="row text-center mt-5 mb-5">
                    <div class="col-12">
                        <i class="fas fa-circle-notch fa-spin fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="BookView" style="display:none">
    <div id="BookViewBody" class="pb-5">
        <img id="BookImage" src="/images/love elliot.png"/>
        <div class="container" style="overflow:auto;">
            <div class="row mt-3">
                <div class="col-3">
                    <div style="margin-top: 320px">
                        <h5 class="w-75 ml-4 text-center"><span id="BookQuantity">0</span></h5>
                        <button id="AddToCart" class="btn btn-dark-red text-white btn-lg ml-4 mt-2 w-75">Add to Cart</button>
                    </div>
                </div>
                <div class="col-8">
                    <span id="BookID" class="d-none">-1</span>
                    <h2 id="BookTitle">Title</h2>
                    <h4 id="BookAuthor">Author</h4>
                    <h3>$<span id="BookPrice">0.00</span></h3>
                    <div id="Rating">
                        <span>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                    <div id="Description" class="mt-3"></div>
                    <hr />
                    <div id="Details" class="mt-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">ISBN 10:</label>
                                    <div class="col-8">
                                        <input id="ISBN10" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">ISBN 13:</label>
                                    <div class="col-8">
                                        <input id="ISBN13" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">Copyright:</label>
                                    <div class="col-8">
                                        <input id="CopyrightDate" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">Publication Date:</label>
                                    <div class="col-8">
                                        <input id="PublicationDate" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label font-weight-bold">Publisher:</label>
                                    <div class="col-8">
                                        <input id="Publisher" type="text" readonly class="form-control-plaintext" value="Unknown">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="Ratings" class="mt-3">
                        <h3>Leave a review</h3>
                        <div class="col-12">
                            <span id="RatingStars">
                                <span class="star-overlay"></span>
                                <i class="fas fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                            </span>
                            <textarea id="Comment" class="w-100 mt-2 mb-2 form-control" placeholder="What did you think?..."></textarea>
                            <button id="SubmitRating" class="btn btn-dark-red text-white">Submit Review</button>
                        </div>
                        <div id="RatingMessages" class="mt-3"></div>
                        <div id="RatingLoadIcon" class="row text-center mt-1 mb-1">
                            <div class="col-12">
                                <i class="fas fa-circle-notch fa-spin fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RatingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <span id="EditRatingStars">
                                <span class="star-overlay"></span>
                                <i class="fas fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <textarea id="EditComment" class="w-100 mt-2 mb-2 form-control" placeholder="What did you think?..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3 text-center">
                        <input id="SaveRating" type="submit" value="Save" class="btn btn-success btn-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var index = 0;
    var loading = false;
    var loaded = false;
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "Model/GetBookCategories",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (response) {
                response = JSON.parse(response);
                $.each(response, function (key, value) {
                    $("#BookCat").append("<option value=" + key + ">" + value + "</option>")
                });
            }
        });

        $("#BookView").click(function (e) {
            if (e.target === this) {
                closeBookView();
            }
        });

        $("#RatingStars .star-overlay, #EditRatingStars .star-overlay").click(function () {
            var star = $(this).next("svg");

            if (star.attr("data-prefix") == "far") {
                star.attr("data-prefix", "fas");
                star.prevAll("svg").attr("data-prefix", "fas");
            } else {
                $(this).next().nextAll("svg").attr("data-prefix", "far");
            }
        });

        $("#BookCat").change(function () {
            var id = $("#BookCat").val();
            var name = $("#BookCat option:selected").text();

            if (id == -1) return;
            $("#SearchCats").append('<span class="badge badge-primary m-1" data-id='
                + id + '><i class="fas fa-times mr-1" onclick="removeCat(this)"></i>' + name + '</span>');

            $("#BookCat option:selected").hide();
            $("#BookCat").val(-1);
        });

        $("#AddToCart").click(function () {
            $.ajax({
                type: "POST",
                url: "Model/AddToCart",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify({BookID: $("#BookID").text()}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var added = JSON.parse(response);
                    if (added) {
                        $.confirm({
                            title: $("#BookTitle").text() + ' added to cart.',
                            content: 'Would you like to view your cart?',
                            type: 'green',
                            buttons: {
                                yes: {
                                    text: 'View Cart',
                                    btnClass: 'btn-green',
                                    action: function () {
                                        location.href = "/Cart";
                                    }
                                },
                                no: {
                                    text: 'No Thanks'
                                }
                            }
                        });
                    } else {
                        $("body").append("<span id='LoginRedirectLocation'>\Books?title=" + $("#BookTitle").text() + "</span>")
                        $("#ShowLogin").click();
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        });

        $("#SubmitRating").click(function () {
            var data = {
                ID: -1,
                BookID: $("#BookID").text(),
                Rating: $("#RatingStars svg[data-prefix='fas']").length,
                Comment: $("#Comment").val()
            }
            $.ajax({
                type: "POST",
                url: "Model/SaveRating",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    response = JSON.parse(response);
                    if (response != undefined) {
                        createRating(response);
                    } else {
                        $("#ShowLogin").click();
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        });

        $("#SaveRating").click(function () {
            var data = {
                ID: $("#RatingModal").data("id"),
                BookID: $("#BookID").text(),
                Rating: $("#EditRatingStars svg[data-prefix='fas']").length,
                Comment: $("#EditComment").val()
            }
            $.ajax({
                type: "POST",
                url: "Model/SaveRating",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    response = JSON.parse(response);
                    if (response != undefined) {
                        var rating = $(".rating[data-id='" + response.RatingID + "']");
                        rating.data("rating", response.RatingValue);
                        rating.data("comment", response.Comment);
                        rating.find(".stars svg").each(function (i) {
                            if (i < response.RatingValue) $(this).attr("data-prefix", "fas");
                            else $(this).attr("data-prefix", "far");
                        })
                        rating.find(".comment").text(response.Comment);
                        $("#RatingModal").modal("hide");
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        });

        $("#BookCat, #SearchType, #SortType").change(function () {
            loadBooks(true);
        });

        $("#Search").on('input', function () {
            loadBooks(true);
        });

        $(window).scroll(function () {
            if ($("#Books .book").last().isInViewport()) {
                loadBooks(false);
            }
        });

        $("#Search").val("@Model.Title");
        if ($("#Search").val() != "")
            $("#Search").data("auto-open", true);
        loadBooks();
    });

    function closeBookView() {
        $("#BookView").fadeOut(function () {
            $("body").removeAttr("style");
            $("nav").removeAttr("style");
        });
        $("#BookView").unbind("hover");
        $("#BookViewBody").unbind("hover");
        $("#BookView").removeClass("hovered");
    }

    function removeCat(button) {
        var cat = $(button).parent();
        cat.remove();
        $("#BookCat option[value='" + cat.data("id") + "']").show();
        loadBooks(true);
    }

    function loadBooks(reset) {

        if (reset) {
            index = 0;
            loaded = false;
        }

        if (loading || loaded) return;
        loading = true;
        if(!reset) $("#LoadIcon").show();
        var count = 10;

        var cats = [];
        $("#SearchCats .badge").each(function () { cats.push($(this).data("id")) });

        var data = {
            Index: index,
            Count: count,
            Search: $("#Search").val(),
            SearchType: $("#SearchType").val(),
            Cats: cats,
            SortType: $("#SortType").val()
        }

        $.ajax({
            type: "POST",
            url: "Model/LoadBooks",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                response = JSON.parse(response);

                if (reset) $("#Books").empty();

                response[1].forEach(function (book) {

                    var bookcard = "";

                    var bookrating = "</span>";
                    var count = 5;
                    for (var i = 0; i < book.Rating; i++, count--)
                        bookrating += '<i class="fas fa-star"></i>'
                    for (var i = count; i > 0; i--)
                        bookrating += '<i class="far fa-star"></i>'

                    bookcard += '<div class="card text-white book" onclick="showBookView(this)" style="width: 200px" '
                    bookcard += 'data-id="' + book.BookID + '"'
                    bookcard += 'data-title="' + book.Title + '"'
                    bookcard += 'data-quantity="' + book.Quantity + '"'
                    bookcard += 'data-price="' + book.Price + '"'
                    bookcard += 'data-description="' + book.Description + '"'
                    bookcard += 'data-authors=\'' + JSON.stringify(book.Authors) + '\''
                    bookcard += 'data-categories=\'' + JSON.stringify(book.Categories) + '\''
                    bookcard += 'data-rating="' + book.Rating + '"'
                    bookcard += 'data-isbn10="' + book.ISBN10 + '"'
                    bookcard += 'data-isbn13="' + book.ISBN13 + '"'
                    bookcard += 'data-copyright="' + book.CopyrightDate + '"'
                    bookcard += 'data-publication="' + book.PublicationDate + '"'
                    bookcard += 'data-publisher="' + book.Publisher.PublisherName + '"'
                    bookcard += '> '
                    bookcard += '<img class="card-img" src="/images/love elliot.png">'
                    bookcard += '<div class="card-img-overlay book-overlay" style="display:none">'
                    if (book.Quantity == 0) bookcard += '<h5 class="card-title"><span class="badge badge-danger">Out Of Stock</span></h5>'
                    bookcard += '<h5 class="card-title">' + book.Title + '</h5>'
                    bookcard += '<h5 class="card-text mt-4">$' + book.Price + '</h5>'
                    bookcard += '<h5 class="card-text mt-4">' + bookrating + '</h5>'
                    bookcard += '</div>'
                    bookcard += '</div>'

                    $("#Books").append(bookcard);
                });

                $(".book").hover(function () {
                    $(this).find(".book-overlay").fadeIn();
                },
                function () {
                    $(this).find(".book-overlay").fadeOut();
                })

                if (response[0] < count)
                    loaded = true;
                index += response[0];
                loading = false;
                $("#LoadIcon").hide();

                if ($("#Search").data("auto-open")) {
                    $(".book").first().click();
                    $("#Search").data("auto-open", false);
                }
            },
            failure: function (response) {
                alert(response);
            }
        });
    }

    function showBookView(book) {
        book = $(book);
        $("#BookID").text(book.data("id"));
        $("#BookTitle").text(book.data("title"));
        $("#BookPrice").text(book.data("price"));
        $("#Description").text(book.data("description"));

        $("#ISBN10").val(book.data("isbn10"));
        $("#ISBN13").val(book.data("isbn13"));

        var count = book.data("quantity");

        $("#BookQuantity").text(count == 0 ? "Out Of Stock" : (count <= 5 ? "Only " : "") + count + " In Stock");
        if (count <= 5) $("#BookQuantity").addClass("text-danger");
        else $("#BookQuantity").removeClass("text-danger");

        if (count == 0) $("#AddToCart").attr("disabled", "disabled");
        else $("#AddToCart").removeAttr("disabled")

        var cd = new Date(book.data("copyright"));
        var pd = new Date(book.data("publication"));

        $("#CopyrightDate").val((cd.getMonth() + 1) + "/" + cd.getDate() + "/" + cd.getFullYear());
        $("#PublicationDate").val((pd.getMonth() + 1) + "/" + pd.getDate() + "/" + pd.getFullYear());
        $("#Publisher").val(book.data("publisher"));
        $("#RatingMessages").empty();

        $("#Comment").val("");
        $("#RatingStars svg").attr("data-prefix", "far");

        var authors = book.data("authors");
        var authorstring = "";
        authors.forEach(function (author) { authorstring += author.FirstName + " " + author.LastName + ", " })
        $("#BookAuthor").text(authorstring.slice(0, -2));

        var rating = book.data("rating");
        $("#Rating svg").each(function (i) { 
            if (i < rating) $(this).attr("data-prefix", "fas");
            else $(this).attr("data-prefix", "far");
        })

        $("body").css("overflow", "hidden");
        $("body").css("margin-right", getScrollBarWidth());
        $("nav").css("margin-right", getScrollBarWidth());

        $("#BookView").fadeIn(function () { 
            $("#BookViewBody").hover(function (event) {
                $("#BookView").removeClass("hovered");
            }, function () {
                $("#BookView").addClass("hovered");
            });

            $("#BookView").hover(function (event) {
                $("#BookView").addClass("hovered");
            }, function () {
                $("#BookView").removeClass("hovered");
            });
            $("#BookView").removeClass("hovered");
        });

        $("#RatingLoadIcon").show();
        $.ajax({
            type: "POST",
            url: "Model/GetRatings",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify({ BookID: book.data("id") }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                response = JSON.parse(response);
                $("#RatingLoadIcon").hide();
                response.forEach(function (rating) {
                    createRating(rating);
                });

                var image = new Image();
                $(".userIcon").each(function () {
                    image.src = $(this).attr("src");
                    $(this).removeAttr("style");
                    $(this).css(image.width > image.height ? "height" : "width", "50px");
                })
            },
            failure: function (response) {
                alert(response);
            }
        });

    }

    function editRating(button) {
        var rating = $(button).parents(".rating");
        $("#RatingModal").data("id", rating.data("id"));
        $("#EditRatingStars svg").each(function (i) {
            if (i < rating.data("rating")) $(this).attr("data-prefix", "fas");
            else $(this).attr("data-prefix", "far");
        })
        $("#EditComment").val(rating.data("comment"));
        $("#RatingModal").modal("show");
    }

    function deleteRating(button) {
        var rating = $(button).parents(".rating");
        $.confirm({
            title: 'Delete Review',
            content: 'Are you sure you want to delete this review?',
            type: 'red',
            buttons: {
                yes: function () {
                    $.ajax({
                        type: "POST",
                        url: "Model/DeleteRating",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: JSON.stringify({
                            ID: rating.data("id")
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function () {
                            rating.fadeOut(function () {
                                rating.remove();
                            });
                        },
                        failure: function (response) {
                            alert(response);
                        }
                    });
                },
                no: function () { }
            }
        });
    }

    function createRating(rating) {
        var ratingmessage = "";
        var ratingstars = "<span class='stars'>";
        var count = 5;
        for (var i = 0; i < rating.RatingValue; i++ , count--)
            ratingstars += '<i class="fas fa-star"></i>'
        for (var i = count; i > 0; i--)
            ratingstars += '<i class="far fa-star"></i>'

        ratingstars += "</span>";

        ratingmessage += '<div class="rating card"'
        ratingmessage += 'data-id="' + rating.RatingID + '"'
        ratingmessage += 'data-rating="' + rating.RatingValue + '"'
        ratingmessage += 'data-comment="' + rating.Comment + '"'
        ratingmessage += '> '
        ratingmessage += '<div>'
        ratingmessage += '<div class="icon-div">'
        ratingmessage += '<img class="userIcon" src="' + rating.NameAndImage[1] + '" />'
        ratingmessage += '</div>'
        ratingmessage += '<h5 class="userName">' + rating.NameAndImage[0] + '</h5>'

        if ($("#UserID").text() == rating.UserID || $("UserIsAdmin").text() == "True") {
            ratingmessage += '<div class="float-right mt-1">'
            ratingmessage += '<button class="btn btn-danger btn-sm mr-2" onclick="deleteRating(this)"><i class="fas fa-trash"></i></button>'
            ratingmessage += '<button class="btn btn-success btn-sm" onclick="editRating(this)"><i class="fas fa-edit"></i></button>'
            ratingmessage += '</div>'
        }

        ratingmessage += '</div>'
        ratingmessage += '<h5>' + ratingstars + '</h5>'
        ratingmessage += '<h6 class="comment">' + rating.Comment + '</h5>'
        ratingmessage += '</div>'

        $("#RatingMessages").prepend(ratingmessage);
    }

    function getScrollBarWidth() {
        var $outer = $('<div>').css({ visibility: 'hidden', width: 100, overflow: 'scroll' }).appendTo('body'),
            widthWithScroll = $('<div>').css({ width: '100%' }).appendTo($outer).outerWidth();
        $outer.remove();
        return 100 - widthWithScroll;
    };

    $.fn.isInViewport = function () {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight();
        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();
        return elementBottom > viewportTop && elementTop < viewportBottom;
    };

</script>

@await Html.PartialAsync("_Authentication")
