@page
@{
    ViewData["Title"] = "Email Confirmed";
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="container text-center col-12" style="margin: 20vh 0;min-height:95vh">
    <h2>Email Confirmed</h2>
    <h4>Your email address has been successfully confirmed.</h4>
</div>