@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container text-center" style="margin-top: 5vh">
    <img height="300" src="~/images/codermonkey.png">
    <h2>Oops, Sorry. Something's gone wrong.</h2>
    <h4>Our coder monkeys are furiously smashing their keyboards to fix it.</h4>
    <div class="row mb-5 mt-5">
        <div class="col-4 offset-4">
            <a href="\Books" class="btn btn-dark-red text-white btn-lg btn-block">Continue Shopping</a>
        </div>
    </div>
</div>