@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["IsLoggedIn"] = Model.CurrentUser != null;
    ViewData["Name"] = Model.CurrentUser == null ? "" : Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
}

<script>$("a.home").addClass("active")</script>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="~/images/banner1.png" alt="Free Eats" class="img-responsive" />
            <div class="carousel-caption" role="option">
                    <a class="btn btn-lg btn-primary" href="#">
                        Shop Now
                    </a>
            </div>
        </div>
        <div class="carousel-item">

            <img src="~/images/banner2.png" alt="Love, Elliot" class="img-responsive" />
            <div class="carousel-caption" role="option">
                    <a class="btn btn-lg btn-success" href="#">
                        Shop Now
                    </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Recommended</h2>
        <div class="card">
            <img src="~/images/love elliot.png" alt="Love, Elliot">
            <div class="card-container">
                <h4><b>Love, Elliot</b></h4>
                <a class="btn btn-lg btn-success" href="#">
                    Shop Now
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Best Seller</h2>
        <div class="card">
            <img src="~/images/love elliot.png" alt="Love, Elliot">
            <div class="card-container">
                <h4><b>Love, Elliot</b></h4>
                <a class="btn btn-lg btn-success" href="#">
                    Shop Now
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Popular</h2>
        <div class="card">
            <img src="~/images/love elliot.png" alt="Love, Elliot">
            <div class="card-container">
                <h4><b>Love, Elliot</b></h4>
                <a class="btn btn-lg btn-success" href="#">
                    Shop Now
                </a>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Authentication")
